@model BackEndTemplate.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/AngularPage.cshtml";
    @Styles.Render("~/Content/password.css")
}

<div class="main-content" style="padding-top:0px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div style="text-align: center; cursor: pointer;  ">

                    <a href="http://www.tiledesk.com" target="_blank">
                        <img src="~/assets/img/tiledesk-logo.svg"class="img-fluid" style="max-width: 150px; height: auto; padding-top:25px" />
                    </a>
                </div>

                <div class="login-container">
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    
        @Html.LabelFor(m => m.Email, new { @class = " " })
        <span style="color:#ff5252">*</span>
     

        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "alert alert-danger " ,@style= "    margin-bottom: 15px;    margin-top: 15px;" })
    
    <div>
           
        @Html.TextBoxFor(m => m.Email, new { @class = " input" })
    </div>

    <button type="submit" style="width: 100%; background-color: #ff9800; height: 56px; font-size: 16px; letter-spacing: 2px;color: #ffffff;" class="btn ">
        REQUEST NEW PASSWORD
    </button>
}
                    </div>

        </div>
</div>
</div>
</div>